.header {
    margin-bottom: 20px;
    &__content {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
            margin-right: 30px;
            padding-bottom: 10px;
            transition: 0.1s;
            border: none;
        &:hover {
            border-bottom: 2px solid #B20A09;
        }
    }
}


@media screen and (max-width: 768px) {
    .header {
        &__link {
            margin-right: 15px;
        }
    }
}

@media screen and (max-width: 425px) {
    .header {
        &__link {
            font-size: 14px;
        }
    }
}